body{
    margin:0;
}

.main-nav{
    display:flex;
    justify-content: center;
    padding: 2rem;
    background-color: #F77D76;
    color:white;
}
section.hero{
    background-color: #F87E77;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
    align-items: center;
    grid-gap: 2rem;
    padding: 5rem;
    background-color: #f87e77;
    color:white;
}
.hero-left{
    text-align: center;
}

#hero-lady-img{
    display: inline-block;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    height: 70vh;
    justify-self: end;
}
#hero-lady-img:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
button{
    background-color: #243A47;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color:white;
    border:none;
    font-family: 'Montserrat';
    border-radius: 10px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-top: 1rem;
    padding:1.5rem;
    width:auto;
}
button:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.content{ 
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding:0rem 10rem 1rem 10rem;
    grid-gap:2rem;
    background-color: #fff;
    justify-items:center;
}
.grid-card-card{
    height: auto;
    image-orientation: inherit;
    object-fit: cover;
  min-height: 50vh;
  max-height: 50vh;
  width: auto;
  max-width: 350px;
  min-width:350px;
}
.grid-cards{
    width:350px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color:white;
    text-align:center;
    background-color: #F77D76;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.grid-cards h3{
    color:white !important;
}
.grid-cards p{
    padding:1rem;
}
div{
    text-align: center;
}
i{
    color:#EB5452;
    text-align: center;
}
footer{
    background-color: #EB5452;
    height: auto;
    justify-content: center;
    flex-grow: wrap;
    align-items: center;
    text-align: center;
    padding: 1rem;
    color:white;
}
footer h1{
    color:white;
}
a:active{
    color:white;
}
