body{
    margin:0;
    
}

.main-nav{
    display:flex;
    justify-content: center;
    width: 100vw;
    padding: 2rem;
    background-color: white;
    color:black;
    z-index: 2;
}
.main-nav a{
    color:black;
}
section.hero{
    background: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        ),
        url(bg3.jpg);
           image-orientation: inherit;
           object-fit: cover;
           background-size: cover;
           background-position: center;
           background-repeat: no-repeat;
           background-attachment: fixed;    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
    align-items: center;
    grid-gap: 2rem;
    padding: 5rem;
    background-color: #f87e77;
    color:white;
}
.hero-left{
    text-align: left;
}

#hero-lady-img{
    display: inline-block;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    height: 70vh;
    justify-self: end;
}
#hero-lady-img:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.button-main{
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color:black;
    border:none;
    text-align: center;
    font-family: 'Montserrat';
    border-radius: 10px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-top: 1rem;
    padding:1.5rem;
    width:auto;
    display: flex;
    align-items: center;    
    justify-content: space-evenly;
}
.button-secondary{
    background-color: #2C2530;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color:white;
    border:none;
    margin-left:1rem;
    text-align: center;
    font-family: 'Montserrat';
    border-radius: 10px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-top: 1rem;
    padding:1.5rem;
    width:auto;

}
.button-main:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.button-secondary:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.button-container{
    display: flex;

    align-items: center;    
    justify-content: center;
    padding:1rem;
}
.content{ 
    background: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        ),
        url(bg3.jpg);
           image-orientation: inherit;
           object-fit: cover;
           background-size: cover;
           background-position: center;
           background-repeat: no-repeat;
           background-attachment: fixed; 
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    padding:5rem 5rem 1rem 5rem;
    grid-gap:2rem;
    background-color: #fff;
}
.grid-card-card{
    height: auto;
    image-orientation: inherit;
    object-fit: cover;
  min-height: 40vh;
  max-height: 40vh;
  width: 100%;
  max-width: auto;
}
.grid-cards{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color:white;
    background: #7F4E58 ;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #7F4E58, rgb(134, 78, 90));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #7F4E58, rgb(134, 78, 90)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
        width:auto;
}
.grid-cards h3{
    color:white !important;
    padding:1rem 3rem 1rem 3rem;
}
.grid-cards p{
    padding:1rem 3rem 1rem 3rem;
}

i{
    color:#5F5D6F;
    text-align: center;
}
.navs i{
color:white;
}
footer{
    background: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        ),
        url(bg3.jpg);
           image-orientation: inherit;
           object-fit: cover;
           background-size: cover;
           background-position: center;
           background-repeat: no-repeat;
           background-attachment: fixed;    height: auto;
    justify-content: center;
    flex-grow: wrap;
    align-items: center;
    text-align: center;
    padding: 1rem;
    color:white;
}
footer h1{
    color:white;
}
a:active{
    color:black;
}
h1{
    color:#5F5D6F;
}
mark{
    color:#2C2530!important;  
}