body{
    margin:0;
}

.main-nav{
    display:flex;
    justify-content: center;
    padding: 2rem;
    background-color: #F77D76;
    color:white;
}
section.hero{
    background-color: #F87E77;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
    align-items: center;
    align-content: space-between;
    grid-gap: 5rem;
    padding: 5rem;
    background-color: #f87e77;
    background-image:linear-gradient(
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
        ),
         url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.75'%3E%3Ccircle fill='%23f87e77' cx='50' cy='0' r='50'/%3E%3Cg fill='%23f77c75' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23f77a73' cx='50' cy='100' r='50'/%3E%3Cg fill='%23f67871' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23f6766f' cx='50' cy='200' r='50'/%3E%3Cg fill='%23f5746e' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23f4726c' cx='50' cy='300' r='50'/%3E%3Cg fill='%23f4706a' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23f36e68' cx='50' cy='400' r='50'/%3E%3Cg fill='%23f36c66' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23f26a64' cx='50' cy='500' r='50'/%3E%3Cg fill='%23f16862' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23f16661' cx='50' cy='600' r='50'/%3E%3Cg fill='%23f0635f' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ef615d' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ef5f5b' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ee5d59' cx='50' cy='800' r='50'/%3E%3Cg fill='%23ed5b57' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ec5956' cx='50' cy='900' r='50'/%3E%3Cg fill='%23ec5654' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23eb5452' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
}
.hero-left{
    text-align: center;
}

#hero-lady-img{
    display: inline-block;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    height: 70vh;
    justify-self: end;
}
#hero-lady-img:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
button{
    background-color: #243A47;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color:white;
    border:none;
    font-family: 'Montserrat';
    border-radius: 10px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-top: 1rem;
    padding:1.5rem;
    width:auto;
}
button:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.content{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding:0rem 5rem 1rem 5rem;
    grid-gap:2rem;
    background-color: #fff;
}
.grid-card-card{
    height: auto;
    image-orientation: inherit;
    object-fit: cover;
  min-height: 250px;
  max-height: 250px;
  width: auto;
  max-width: 250px;
  min-width:250px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.grid-cards{
    padding:1rem;
    text-align:center ;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
footer{
    background-color: #EB5452;
    height: auto;
    justify-content: center;
    flex-grow: wrap;
    align-items: center;
    text-align: center;
    padding: 1rem;
    color:white;
}
footer h1{
    color:white;
}
a:active{
    color:white;
}
